body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: rgba(107, 184, 226, 0.95);
    color: #1a1a1a;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

form {
    background-color: rgba(68, 145, 187, 0.95);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    width: 100%;
    color: white;
    margin-bottom: 2rem;
}

form h2 {
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Georgia', serif;
}

label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #fff8f0;
}

textarea {
    resize: none;
    min-height: 70px;
}

button {
    margin-top: 1.5rem;
    padding: 0.8rem;
    width: 80%;
    position: relative;
    padding-left: 70px;
    background: #06d61f;
    border: none;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 2rem auto 0 auto;
    width: 80%;
            
}

button:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 15px rgba(3, 43, 97, 0.3);
}

.qcm-option {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}


  

.qcm-text {
    flex: 1;
    min-width: 200px;
    padding: 0.6rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #fff8f0;
    overflow-x: auto;
}

.qcm-correct {
    transform: scale(1.2);
}

.qcm-label {
    min-width: 110px;
    white-space: nowrap;
}

.supprimer-option {
    background:   #e02407 ;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 6px 12px;
    font-weight: bold;
    cursor: pointer;
}

#questions {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    padding: 1rem;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#questions li {
    margin-bottom: 1rem;
    padding: 0.5rem;
    margin-left: 20px;
    border-bottom: 1px solid #ccc;
}

#questions button {
    margin-left: 1rem;
    background: #dc3545;
    border: none;
    padding: 0.4rem 0.8rem;
    margin-left: 65px;
    border-radius: 5px;
    color: white;
}

#questions button:hover {
    background-color: #c82333;
}
form button[type="submit"] {
    display: block;
    margin: 2rem auto 0 auto;
     width: 80%;
    
}